// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFFFFF;

    p {
        color: #616161;
    }
}
